
body {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   background-color:rgb(51, 47, 47);
   color: #CBB26A;
   width: auto;
   height: auto;
}

.name {
    
    font-weight:normal;
    font-size: larger;
}

input, text {
    color: black;
    border: solid;
    border-color: black;
}

p {
    font-weight:normal;
    font-size: larger;
}
img {
    
   width: max-content;
    position:relative;
   
   
}

.info {
    
    background-color: #CBB26A;
}
div {
    align-content: space-around;
    flex-direction: column;
}